/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Georgia', serif;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
/*  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);*/
}

#top {
  border-top: 3px solid black;
  background: url("../img/background.png");
  width: 100%;
  height: 624px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
  position: relative;
}

header {
  position: relative;
  height: 100px;
}

#logo {
  position: absolute;
  top: 33px;
  background: url("../img/logo.png");
  width: 355px;
  height: 46px;
  display: inline-block;
}

#social {
  position: absolute;
  right: 0;
  top: -4px;
  background: url("../img/social-box.png");
  height: 37px;
  width: 116px;
}

.social {
  position: absolute;
  height: 24px;
  width: 57px;
  top: 7px;
}

#fb {
  background: url("../img/facebook.png") 35px center no-repeat;
  border-right: 1px solid rgba(255, 255, 255, .3);
  left: 0;
}

#twitter {
  background: url("../img/twitter.png") 7px 6px no-repeat;
  right: 0;
}

nav {
  position: absolute;
  right: 0px;
  top: 72px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  font-family: 'Droid Sans', sans-serif;
  display: inline-block;
  width: 60px;
}

nav > ul > li:after {
  content: "/";
  position: relative;
  left: 10px;
  color: rgba(255, 255, 255, .3);
  text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

nav > ul > li:last-child:after {
  content: "";
}

#blurb {
  font-size: 22px;
  font-family: 'Droid Sans', sans-serif;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, .2);
  width: 765px;
  text-align: center;
  margin: 0 auto;
}

.highlight {
  color: #FFFFCC;
}

#slides {
  height: 340px;
  border: 1px solid black;
  padding: 10px;
  background: url("../img/slide_bg.png");
}

.slide-fg {
  background-color: rgba(255, 255, 255, .5);
}

.slide img {
  float: left;
}

.slide .text {
  float: right;
  width: 300px;
}

#bottom {
  background-color: #EFEFEF;
  padding: 20px 0 67px;
}

#pictures .highlight {
  color: #5E9741;
}

#cards > li {
  width: 299px;
  height: 254px;
  display: inline-block;
  border-top: 1px solid white;
  border-bottom: 1px solid #CBCBCB;
  background: white;
  vertical-align: top;
}

#cards h4 {
  margin: 0;
}

#cards p {
  margin: 0;
  font-size: 12px;
  color: #666666;
}

#cards .text {
  padding: 15px;
  font-size: 14px;
}

#middle {
  margin-left: 24px;
  margin-right: 24px;
}

#bag-of-tricks {
  border-bottom: 1px solid #CDCDCD;
}

#description {
  width: 190px;
  display: inline-block;
  padding: 10px;
  background-color: #EFEFEF;
  height: 254px;
  vertical-align: top;
  border-right: 1px solid #CDCDCD;
}

#description .highlight {
  color: #5E9741;
  font-style: italic;
}

#lists {
  display: inline-block;
  margin-left: 35px;
}

#services {
  padding: 13px 10px;
  background-color: white;
  height: 274px;
}

.our-services {
  font-style: italic;
  color: #999999;
}

#lists ul {
  width: 220px;
  height: 225px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.title {
  font-family: 'Droid Sans', sans-serif;
}

#lists li.title {
  font-weight: bold;
}

#lists li.ticked {
  background: url("../img/tick.png") no-repeat center left;
  padding: 5px 0 5px 30px;

}

#lists li.learn-more {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  color: #5E9741;
}

#lists li.learn-more:before {
  content: "\00BB \0000a0";
  color: black;
}

footer {
  box-shadow: 0 -5px 30px -17px rgba(0, 0, 0, .8);
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 25px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
